<h1>リクエスト送信画面</h1>

<div class = "postbody" >
  <div class = "posttitle" >
    <%= @post.title %>
  </div>
  <div class = "user">
    <%= @post.user.name %>
    <%= @post.user.profile %>
  </div>
  <div class = "postgame" >
    <%= @post.game %>
  </div>
  <div class = "postplatform" >
    <%= @post.platform %>
  </div>
  <div class = "postcomment" >
    <%= @post.comment %>
  </div>
</div>
</br>

<p>リクエストを送りましょう</p>
<%= form_with url: "/request/#{@post.id}/create" do |form| %>
  <%= hidden_field_tag :from_user_id, current_user.id %>
  <%= form.text_area :comment %>
  <%= form.submit :送信 %>
<% end %>
