<h1>リクエスト一覧</h1>

<div>
  <% @requests.each do |request| %>
    <br>
    <div>
      <%= request.post.title %>
      <%= request.post.game %>
      <%= request.post.platform %>
      <%= request.post.comment %>
    </div>
    <div>
      <%= request.user.name %>
    </div>

    <div>
      <%= request.comment %>
    </div>
    <div>
      <%= link_to "承認", "/request/#{request.id}/accept" %>
      <%= link_to "×", "/request/#{request.id}/reject" %>
    </div>
  <% end %>
</div>
