<h2>届いたリクエスト一覧</h2>

<div>
  <% @requests.each do |request| %>
    <br>
    <div class = "p-2 m-1 border">
      <%= request.post.title %><br>
      ゲームタイトル;<%= request.post.game %>
      プラットフォーム;<%= request.post.platform %><br>
      <%= request.post.comment %>
      <br>
      <br>

      <img src="<%= request.user.image %>" width="40">
      <%= request.user.name %>
      <br>
      <%= request.comment %>
      <br>
      <div class = "text-right mx-4">
      <%= link_to "承認", "/request/#{request.id}/accept" %>
      　<%= link_to "×", "/request/#{request.id}/reject" %>
    </div>
    </div>
  <% end %>
</div>
