<h1><%= partner?(params[:id]).name %>さんとのメッセージ画面</h1>
<div>
  <% @messages.each do |message| %>
    <%= which_user?(message.from_user_id).name %>
    <%= message.content %>
    <br>
  <% end %>
</div>

<div>
  <%= form_with url: "/message/#{@room_id}/create" do |form| %>
    <%= hidden_field_tag :from_user_id, current_user.id %>
    <%= hidden_field_tag :to_user_id, partner?(params[:id]).id %>
    <%= form.text_field :content%>
    <%= form.submit :送信 %>
  <% end %>
</div>
