<h1></h1>

<% if @search_posts.present? %>
  <% @search_posts.each do |post| %>
    <div class = "post p-2 m-1 border" >
      <%= link_to "/posts/#{post.id}", class: "text-dark" do %>
        <%= post.title %><br>
        ゲームタイトル;<%= post.game %><br>
        プラットフォーム;<%= post.platform %>
        <%#= link_to "編集", "/posts/#{post.id}/edit"%>
        <%#= link_to "削除", "/posts/#{post.id}/destroy", {method:post}%>
      <% end %>
    </div>
  <% end %>
  <%= paginate @posts %>
<% else %>
  <%= "投稿が見つかりませんでした" %>
  <br>
  <%= link_to "新規投稿", "/posts/new" %>
<% end %>
