<h1>新規投稿ページ</h1>

<%= form_tag "/posts/create" do %>
  <div class = "postform" >
    <div class = "error_messages">
      <% @post.errors.full_messages.each do |message| %>
        <%= message %>
      <%end%>
    </div>
    <div class = "field" >
      <p>タイトル</p>
      <input type="text" name= "title" value= "<%= @post.title.blank? ? "フレンド募集中！" : @post.title %>">
    </div>
    <div class = "field" >
      <p>ゲーム名</p>
      <input type="text" name= "game" value = "<%= @post.game %>">
    </div>
    <div class = "field" >
      <p>プラットフォーム</p>
      <input type="text" name= "platform" value="<%= @post.platform %>">
    </div>
    <div class = "field" >
      <p>コメント</p>
      <textarea name="comment" ><%= @post.comment %></textarea>
    </div>
    <div class = "actions">
      <input type="submit" value="投稿">
    </div>
  </div>
<% end %>
