<h1>新規投稿ページ</h1>

<%= form_with url:"/posts/create", local: true do |form| %>
  <div class = "postform" >
    <div class = "error_messages">
      <% @post.errors.full_messages.each do |message| %>
        <%= message %>
      <%end%>
    </div>
    <div class = "field" >
      <p>タイトル</p>
      <%= form.text_field :title, value: @post.title.blank? ? "フレンド募集中！" : @post.title %>
    </div>
    <div class = "field" >
      <p>ゲーム名</p>
      <%= form.text_field :game, value: @post.game %>
    </div>
    <div class = "field" >
      <p>プラットフォーム</p>
      <%= form.select :platform, {"PC": "PC","PS4": "PS4","スマートフォン":"スマートフォン","Nintendo Switch": "Nintendo Sweitch","Xbox":"Xbox","Nintendo 3DS": "Nintendo 3DS",}, :selected => @post.platform %>
    </div>
    </div>
    <div class = "field" >
      <p>コメント</p>
      <%= form.text_area :comment, value:@post.comment %>
    </div>
    <div class = "actions">
      <%= form.submit "投稿" %>
    </div>
  </div>
<% end %>
