<h1>リクエスト送信画面</h1>

<div class = "postbody" >
  <div class = "posttitle" >
    <%= @post.title %>
  </div>
  <div class = "postgame" >
    <%= @post.game %>
  </div>
  <div class = "postplatform" >
    <%= @post.platform %>
  </div>
  <div class = "postcomment" >
    <%= @post.comment %>
  </div>
</div>
</br>

<p>リクエストを送りましょう</p>
<div class = "requestform" >
  <%= form_tag "/posts/send_request" do%>
  <div class = "requestcomment">
    <textarea name="requestcomment" ><%=  %></textarea>
  </div>

  <div class = "requestform" >
    <input type="submit" value="リクエスト">
  </div>
  <% end %>
</div>
