<h1></h1>

<div class = "postbody" >
  <div class = "mb-2">
    <img src="<%= @post.user.image %>" width="50">
    <span class = "user mx-3">
      <%= @post.user.name %>
      <!-- <%= @post.user.profile %> -->
    </span>
  </div>
  <div class = "posttitle" >
    <%= @post.title %>
  </div>

  <div class = "postgame" >
    ゲームタイトル;<%= @post.game %>
  </div>
  <div class = "postplatform" >
    プラットフォーム;<%= @post.platform %>
  </div>
  <br>
  <div class = "postcomment border p-2" >
    <%= @post.comment %>
  </div>
  <br>
  <div class = "link" >
    <% if user_signed_in? and current_user.id == @post.user.id %>
      <%= link_to "編集", "/posts/#{@post.id}/edit" %>
      <%= link_to "削除", "/posts/#{@post.id}/destroy", {method: Post}%>
    <% end %>
  </div>

  <div class = "requestform" >
    <% if current_user.nil? or current_user.id != @post.user.id %>
      <% if @request.nil? %>
        <%= link_to "リクエスト", "/request/#{@post.id}/form" %>
      <% else %>
        <%= "リクエスト済み" %>
      <% end %>
    <% end %>
  </div>

</div>
