<h1>投稿詳細ページ</h1>

<div class = "postbody" >
  <div class = "posttitle" >
    <%= @post.title %>
  </div>
  <div class = "user">
    <%= @post.user.name %>
    <%= @post.user.profile %>
  </div>
  <div class = "postgame" >
    <%= @post.game %>
  </div>
  <div class = "postplatform" >
    <%= @post.platform %>
  </div>
  <div class = "postcomment" >
    <%= @post.comment %>
  </div>

  <div class = "link" >
    <% if user_signed_in? and current_user.id == @post.user.id %>
      <%= link_to "編集", "/posts/#{@post.id}/edit" %>
      <%= link_to "削除", "/posts/#{@post.id}/destroy", {method: Post}%>
    <% end %>
  </div>

  <div class = "requestform" >
    <% if current_user.nil? or current_user.id != @post.user.id %>
      <%= link_to "リクエスト", "/request/#{@post.id}/form" %>
    <% end %>
  </div>

</div>
