<!DOCTYPE html>
<html>
  <head>
    <title>EFriends</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <h1><%= link_to "E-friends", "/" %></h1>
        </div>
      <% if user_signed_in? %>
        <%# <strong><%= link_to current_user.email, pages_show_path %><%#</strong> %>
        <strong><%= link_to current_user.name, "/users/#{current_user.id}" %></strong>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        <%= link_to 'ログアウト', sign_out_path %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      <%= link_to '新規投稿', '/posts/new' %>
      <%= link_to '投稿一覧', '/posts/index' %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user.present? && Request.where(post_user_id: current_user.id).present? %>
      <%= link_to "リクエストが届いています", "/request/index" %>
    <% end %>
    <br>
    <% if @notifications.present? %>
      <% @notifications.each do |notification| %>
        <%= link_to notification.content, "/notification/#{notification.id}" %>
        <br>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
